<div class="main-header">
  <div class="left-header">
    <div class="room-name">
      hogefuga
    </div>
  </div>
  <div class="light-header">
    <div class="end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main">
  <div class="message">
   <div class="upper-message">
     <div class="other-name">
       Yuki
     </div>
     <div class="time">
       2020/3/31(Wed) 12:43:30
     </div>
   </div>
   <div class="lower-message">
     <div class="comment">
       おはよう
     </div>
   </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="other-name">
        Yuki
      </div>
      <div class="time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
   <div class="lower-message">
      <div class="comment">
        こんばんは
      </div>
   </div>
  </div>
</div>

<div class="main-form">
  <div class="form-input">
    <input class="type-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="post-btn" type="submit" value="送信">
</div>