.wrapper {
  display: flex;
}

.side-ber {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header {
  height: 100px;
  padding: 0 20px;
}

.side-main {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.main-box {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.main-header {
  height: 100px;
  padding: 0 40px;
}

.main {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}